@font-face {
  font-family: 'OpenSans';
  src: URL('assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'OpenSans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track-piece {
  background-color: #090b13;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #696969;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #708090;
}
